<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="heading">
    <h1>resume generator</h1>
</div>
<div class="main ">

    <div class="content">
        <h1>personal information</h1>
        <div class="input">
            <label for="">your name</label><br>
            <input class="text" type="text" placeholder="enter Here">
        </div>
        <div class="input">
            <label for="">your phone</label>
            <input class="phone" type="phone no" placeholder="enter Here">
        </div>
        <div class="input1">
            <label for="">your address</label><br>
            <input class="address" type="text" placeholder="enter Here">
        </div>

        <div class="photo">
            <label for="">select your profile picture</label><br>
            <input type="file" class="group">
        </div>

        <div class="content2">
            <h1>Important Links</h1>
        <div class="input">
            <label for="">facebook</label><br>
            <input class="facebook" type="text" placeholder="enter Here">
        </div>
        <div class="input">
            <label for="">Instagram</label><br>
            <input class="Instagram" type="phone no" placeholder="enter Here">
        </div>
        <div class="input">
            <label for="">Linkedin</label><br>
            <input class="Linkedin" type="text" placeholder="enter Here">
        </div><br>

        <div class="input">
            <label for="">DECALARATION</label>
            <input class="DECALARATION" type="text"placeholder="enter here">
        </div>

        </div>
    </div>


    <div class="main1">
        <div class="detailes">
           <h1>professional information</h1>
        </div>
        <div class="input_type">
            <label for="addressField">objective</label><br>
            <textarea class="object" placeholder="enter here"></textarea>
        </div><br>
        <div class="input_type">
            <label for="">work Expreience</label> <br>
            <textarea placeholder="enter here" class="form-control " rows="3"></textarea>
            
        </div>
        <div class="add">
            <button id="addnew" onclick="newadd()">Add</button>
        </div>
        <div class="input_type1">
            <label for="">skills</label> 
            <textarea placeholder="enter here" class="form-control1" rows="3"></textarea>
            
        </div>
        <div class="add1">
            <button id="add" onclick="newaddone()">Add</button>
        </div>
    </div>
</div>
<div class="generate">
    <button class="button" onclick="generate()">generate cv</button>
</div>
<div class="resume ">

    <div class="resume1">
        <div class="deatils">
            <img class="img" src="/img.jpg" alt="">
        </div>
        <div class="name">
            <h1 class="name1">smart basheer</h1>
        </div>
        <div class="phone">
            <h1 class="phone1">+98765972132,+75500343221</h1>
            <h1 class="address1">20/12c sector 35 nodia,india</h1>
        </div>
        <div class="links">
            <p><a class="facebook1" href="#facebook">https://www.facebook.com/learncodewithmastrer</a></p>
        </div>
        <div class="links">
            <p><a class="Instagram1" href="#instagram">https://www.Instagram.com/learncodewithmastrer</a></p>
        </div>
        <div class="links">
            <p><a class="Linkedin1" href="#linkedin">https://www.Linkedin.com/learncodewithmastrer</a></p>
        </div>
        <div class="declaer1">
            <h1 class="declaer">hai</h1>
        </div>
    </div>

    <div class="addname">
            <div class="name">
                <h3 class="name2">smart basheer</h3>
            </div>

            <div class="objective">
                <div class="para">
                    <h2>object</h2>
                </div>
                <div class="obpara">
                    <p class="object1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates assumenda eum ratione minus doloremque. <br> Modi perferendis necessitatibus minus, reprehenderit quaerat harum tenetur, aliquam pariatur magni  <br>maxime alias quod, consequatur ex. <br>
                    Molestias, et fugit. Tempore aliquid id quos dolorem temporibus accusamus consequatur <br> harum similique, sed quam velit repellat commodi iusto soluta eos labore <br> molestiae optio odio minima? Exercitationem incidunt  <br>amet omnis?</p>
                </div>
            </div>
            <div class="work">
                <div class="para1">
                    <h2>work experience</h2>
                </div>
                <div class="list">
                    <ul id="work1">
                        <li >one</li>
                        <li>two</li>
                        <li>three</li>
                    </ul>
                </div>
            </div>
            <div class="work">
                <div class="para1">
                    <h2>academic qualication</h2>
                </div>
                <div class="list">
                    <ul id="qualication">
                        <li>one</li>
                        <li>two</li>
                        <li>three</li>
                    </ul>
                </div>
            </div>
            <div class="print">
                <button class="print1" onclick="printcv()">print cv</button>
            </div>

           
    </div>
</div>




<script src="/app.js"></script>
</body>
</html>

</body>
</html>