<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link type="text/css" rel="stylesheet" href="/style.css">

</head>
<body>
    <div class="out1">
        <div class="out">
            <h2>login</h2>
            <form action="/login" method="post">
                <label for="">username</label>
                <input type="text" name="username" placeholder="username" required><br><br><br>
                <label for="">password</label><br>
                <input type="password" name="password" placeholder="password" required><br><br>
    
                <button type="submit">login</button>
            </form>
             <p>Don`t have an account yet?<a href="/signup">create account</a></p>
        </div>

    </div>
    

</body>
</html>